/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2015, 8:59:01 AM
    Author     : joey
*/

#mcPic{
    float: left;
    height: 60px;
    width: 60px;
}
#button_login{
    float: right;
    margin-top: 1em;
}
.headertable{
    display: table;
    float:right;
}

h1 {
    text-align: center;
}
p {
    text-align: center;    
}
hr{
    color: blue;    
    height: 2px;
}
div.header{
    display: table;
    width: 100%;
}
div.searcharea{
    display: table;
    width: 100%;
    margin-top: 5em;
}
#searchBox {
    color: graytext;
    width: 400px;
}
#view_profile{
    float: right;
    margin-left: 1em;
    margin-top: 1em;
}
#logout_butt{
    float: right;
    margin-left: 1em;
    margin-top: 1em;
}

