/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2015, 11:49:57 AM
    Author     : joey
*/


.header{
    display: table;
    width: 100%;
}
hr{
    color:blue;
    height: 2px;
}

#searchBox{
    color: graytext;
    width: 10em;
}
#button_login{  
    float:right;
    margin-top: 1em;
}
#mcPic{
    float: left;
    width:60px;
    height: 60px;
}

p {
    text-align: center;
}
div{
    text-align: center;
    vertical-align: middle;
}
#addMovie{
    position:relative;
    vertical-align: middle;
    top: 50%;
}
#addReview{
    position:relative;
    vertical-align: middle;
    text-align: center;   
}
#reviewform{
    text-align: center;
    vertical-align: middle;
    width:auto;
    height:auto;
}
#reviewarea{
    width:50%;
}
.headertable{
    display: table;
    float:right;
}
#view_profile{
    float: right;
    margin-left: 1em;
    margin-top: 1em;
}
#logout_butt{
    float: right;
    margin-left: 1em;
    margin-top: 1em;
}