/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2015, 11:49:57 AM
    Author     : joey
*/

table{
    width:100%;
}
#movieName{
    text-align: center;
    font-size: 40px;
}
#searchForm{
    float:right;
}
.movieDetails{
   resize: none;
   width:100em;
   height: auto;
}
#details{
    border: 20px black;
    margin-left: 10px;
    margin-right: 60px;
    padding: 1px;
    width: 90em;
    height:auto;
}

.reviews{
    width: 100em;
    height: auto;
    resize: none;
    
}

h3,h4{
    text-align: center;
}
#searchBox{
    color: graytext;
    width: 10em;
}
#loginButt{
    float:top;
    float:right;
   
}
#mcPic{
    float: left;
    width:50px;
    height: 50px;
}

p {
    text-align: center;
}
div{
    text-align: center;
    vertical-align: middle;
}
#addMovie{
    position:relative;
    vertical-align: middle;
    top: 50%;
}
#addReview{
    position:relative;
    vertical-align: middle;
    text-align: center;   
}
#reviewform{
    text-align: center;
    vertical-align: middle;
    width:auto;
    height:auto;
}
