/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2015, 9:58:33 AM
    Author     : joey
*/

#mcPic{
    float: left;
    height: 60px;
    width: 60px;
}
#button_login{
    float: right;
    margin-top: 1em;
}
p {
    text-align: center;
  }
div.header{
      display: table;
      width: 100%;
  }
div.register{
      display: table;
      width: 100%;
      margin-top:1em;
  }
#registerForm{
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}
input.field{
    width:200px;
    color: graytext;
}

hr{
    color:blue;
    height:2px;
}
label{   
    width: auto;    
}
#register{
    color: black;
    width:100px;
}
.errmsg { color: red; }