/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2015, 9:58:33 AM
    Author     : joey
*/

#mcPic{
    float: left;
    height: 100px;
    width: 100px;
}
p {
    text-align: center;
  }
  div{
      display: table;
      width: 100%;
  }
  #registerForm{
    display: table-cell;
    text-align: center;
    vertical-align:middle;
}
input{
    width:200px;
    color: graytext;
}

label{   
    width: auto;    
}
#register{
    color: black;
    width:100px;
}